$base-color: #8CC754;
$secondary-color:#F7B028;
$base-color--dark:#72B236;
$header-color:#DB538C;
$accent-color:#BD67D5;
$text-color:#464646;
$text-color--dark:#272727;
$text-color--light:#FBFBFB;
$text-xl:50px;
$text-l:36px;
$text-m:18px;
$text-s:14px;
$text-xs:12.5px;
$text-xxs:11px;